<div class="row col-md-6 col-md-offset-3">

    <h3>Member SignIn</h3>
    <form ng-submit="user.doLogin()">

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" required ng-model="user.loginData.email">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" required ng-model="user.loginData.password">
        </div>

        <!-- Error msg will be shown if there is one-->
        <div class="alert alert-danger" ng-if="user.error">
            {{ user.error }}
        </div>

        <button type="submit" class="btn btn-block btn-primary">
            <span ng-if="!user.processing">Login</span>
            <span ng-if="user.processing" class="spinner">
                <span class="glyphicon glyphicon-repeat"></span>
            </span>
        </button>

    </form>
</div>