<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <!-- For Twitter Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/paper/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css">

    <!-- Load Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>

    <!-- controller & service for displaying products -->
    <script src="app/products/products.service.js"></script>
    <script src="app/products/products.controller.js"></script>
    <script src="app/products/products.route.js"></script>


    <!-- routes relating with user -->
    <script src="app/user/user.route.js"></script>
    <!-- controller & service relating with user -->
    <script src="app/user/login/user-auth.service.js"></script>
    <script src="app/user/login/user-login.controller.js"></script>

    <script src="app/user/signUp/user-signup.controller.js"></script>
    <script src="app/user/signUp/user-signup.service.js"></script>


    
    <!-- angular file -->
    <script src="app/app.js"></script>
    <!-- ngCart for shopping cart feature -->
    <script src="bower_components/ngCart/dist/ngCart.js"></script>

    <!-- braintree payment -->
    <script src="bower_components/braintree-angular/dist/braintree-angular.js"></script>
    <script src="https://js.braintreegateway.com/js/braintree-2.21.0.min.js"></script>
    

</head>

<body ng-app="MEAN_Ecommerce" ng-controller="userLogInController as main" >

    <header>
        <div class="navbar navbar-custom" ng-if="main.loggedIn">
            <div class="container">
                <div class="navbar-header">
                    <a href="/products" class="navbar-brand"><span class="glyphicon glyphicon-search text-danger"></span> Ecommerce Site</a>
                </div>  
        
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
                    <li ng-if="main.loggedIn" class="navbar-text">Hey {{ main.user.name }}!</li>
                    <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
                    
                    <!-- added items in cart will show if user is LoggedIn -->
                    <li ng-if="main.loggedIn">
                      <a ui-sref="checkout">
                        <ngcart-summary template-url="components/ngcart/summary.html"></ngcart-summary>
                      </a>
                    </li>
                </ul>

            </div>
        </div>
    </header>

    <!-- injecting the view -->
    <main class="container">
        <div ng-view></div>
    </main>

</body>
</html>